.user{
    max-width: 1200px;
    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: 2rem;
    }

    &__icon {
        display: flex;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
}